body {
    margin-top: 20px;
}

.input_box {
    width: 20%;
    display: inline-block;
}

.em_button {
    width: 45%;
    height: 40px;
    background-color: orangered;
    color: white;
    border: 0px;
    font-size: 20px;
    border-radius: 8px;
    transition-duration: 0.2s;
  
}

.em_button:hover {
    background-color: orange;
}

.em_input {
    width: 45%;
    height: 20px;
    font-size: 20px;
    background-color: darkslategray;
    color: white;
    padding: 6px;
}

#output {
    background-color: darkslategray;
    color: white;
    font-size: 16px;
    padding: 10px;
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    width: 60%;
}

#string_box {
    padding-top: 10px; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    width: 60%;
}

#string_input {
    font-size: 20px;
    background-color: darkslategray;
    color: white;
    padding: 6px;
    margin-left: 5px;
    width: 45%;
    float: right;
}