body {
    margin-top: 20px;
}

#output {
    background-color: darkslategray;
    color: white;
    font-size: 16px;
    padding: 10px;
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    width: 780px;
}

#canvas {
    width: 800px;
    height: 600px;
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    background-color: black;
    margin-bottom: 20px;
}

[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
    display: none;
}
  
[type="file"] + label {
    background: orangered;
    border-radius: 5px;
    color: white;
    display: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    padding: 10px 50px;
    transition: all 0.2s;
    vertical-align: middle;
}

[type="file"] + label:hover {
    background-color: orange;
}
